/* Add additional stylesheets below
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid red;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}


/*
New implementation
*/
body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}
h2{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
 #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}
smalltext{
    padding-top: 5px;
    font-size: 16px;
}

#start_button
{
    border-radius: 9px;
    background-color: #4CAF50;
    color: black;
    padding: 24px 24px;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#start_button .start_reset
{
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

#start_button .start_reset:after
{
    content: '!!';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

#start_button:hover span
{
    padding-right: 15px;
}

#start_button:hover span:after
{
    opacity: 1;
    right: 0;
}