<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;

        padding: 10px;
    }
    .left, .right {
        width: 40%;
    }
    .middle {
        width: 20%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1>The Battleship game</h1>

<!--
    Daniel.) Addressing Issue #21
    Added 3 column structure in divs, placing player board on the left, enemy on the right, and buttons in the center.
-->

<div class="row">
    <div class="column left" align="right">
        <!-- Left Column -->
        <table id="player" class="battleGrid"></table>

    </div>
    <div class="column middle" align="center">
        <!-- Center Column -->
        <ul>
            <li id="rm1">
                <button id="place_minesweeper">Place Minesweeper</button>
            </li>
            <li id="rm2">
                <button id="place_destroyer">Place Destroyer</button>
            </li>
            <li id="rm3">
                <button id="place_battleship">Place Battleship</button>
            </li>
            <li>
                <input type="checkbox" id="is_vertical">Vertical</input>
            </li>
            <li id="rm4">
                <button id="start_button"><span class="start_reset">PLAY</span></button>
            </li>
        </ul>

    </div>
    <div class="column right" align="left">
        <!-- Right Column -->
        <table id="opponent" class="battleGrid"></table>

    </div>
</div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
